.word-letters {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 20px 0 20px;
    justify-content: center;
}

.word-letter {
    width: 65px;
    height: 65px;
    margin: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 46px;
    font-weight: bold;
    border-radius: 8px;
}

.word-letter_right {
    background-color: #4caf50;
    color: white;
    border: 2px solid #388e3c;
}

.word-letter_hidden {
    background-color: #f5f5f5;
    color: transparent;
}

button {
    display: flex;
    justify-self: center;
    border: 1px solid white;
    margin: 10px 0 25px;
    font-size: 18px;
}

text{
    display: flex;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    font-size: 18px;
}

.word-letter_input {
    display: flex;
    padding: 5px;
    border: 2px solid white;
    justify-self: center;
    text-align: center;
    font-size: 24px;
}
.input-locked {
    border: 2px solid rgba(255, 255, 255, 0.51);
    background-color: rgba(80, 80, 80, 0.47);
    position: relative;
    opacity: 0.7;
}

.counter {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    top: +15px;
    left: -140px;
}
.counter::after {
    content: '❤️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    line-height: 1;
    z-index: 1;
}
.lives-count{
    z-index: 2;
}